* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(
        90deg,
        rgb(179, 255, 0) 0%,
         rgb(3, 92, 15) 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    width: 35%;
    min-width: 500px;
}

.logoplay{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-top: 5px;
}

.new-task{
    padding:5px 10px;
    border-top: 15px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    display: flex;
}

.new-task input{
    flex: 3 ;
    font-size: 1rem ;
    border: 2px solid #d1d2d4;
    border-radius: 5px;
    padding: 12px;
    font-weight: 500 ;
}
.new-task input:focus {
    outline: none;
    border-color: #41b883;
}
.task-button{
    flex: 1;
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    font-size: 1rem;
    border: none;
    background-color: #41b883;
    color: #fff;
    padding: 12px;
    margin-left: 12px;
    cursor: pointer;
}

.tasks-container{
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow:0 15% 30px rgba(0, 0, 0, 0.3) ;
    width: 100%;
}

table{
    border-collapse: collapse;
    border:#d1d2d4;
    width: 100%;
}
table th, td{
    padding: 1px 5px;
    text-align: center;
}
table td img{
    width: 22px;
}

center{
    text-align: center;
}

